* {
    border: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header img{
    height: 2rem
}

header .navbar{
    background-color: transparent !important;
}

.navbar .navbar-brand{
    color: white;
    padding-left: 10%;
}


.navbar ul a{
    color: white;
}

.big-hero .col-12{
    width: 100%;
}

.big-hero .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#quienes-somos hr {
    height: 1px;
    background-color: white !important;
    border: none;
}

#destacados hr {
    height: 1px;
    background-color: white !important;
    border: none;
}

.card-body{
    background-color: cyan;
}

.card-body .card-title, .card-body .card-text{
    color: white;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}

#quienes-somos{
    background-color: black;
}

#quienes-somos h2{
    color:white;
}

#quienes-somos h4{
    color:darkgrey
}

#quienes-somos p{
    color: white;
}

#destacados {
    background-color: black;
}

#destacados h2{
    color: white;
}

#contacto {
    background-color: black;
}

#contacto h2{
    color: white;
}

#contacto hr{
    height: 1px;
    background-color: white !important;
    border: none;
}

#contacto label{
    color: white;
}

footer {
    background-color: cyan;
}

footer h2{
    color : white;
}

footer .footer-text {
    padding : 15px
}

footer .footer-icons{
    padding: 15px;
    color: white;
}


@media (max-width: 600px) {

}

@media (min-width: 601px) {

    .navbar ul{
        padding-right: 12%;
    }

    .carousel-inner{
        height: 60em;
    }
    
    .big-hero img{
        height: 60rem
    }
    
    #quienes-somos .container-fluid{
        padding-left: 15rem;
        padding-right: 15rem;
    }

    #inpMensaje {
        height: 10rem;
    }

    footer .footer-text {
        margin-left: 25rem;
    }

    footer .footer-icons {
        margin-left: 15rem;
        margin-top : 0.5rem;
    }
}